#place-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.place {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
}

.control-btns {
  display: flex;
  flex-direction: column;
}

.container {
  width: 90%;
  min-height: 10vh;
  margin: 2rem auto;
  position: relative;
}

/*__________________________________STEP PROGRESS BAR STYLING ___________________________*/

.progress-bar-ul {
  counter-reset: step;
  color: rgba(0 0 0 0.8);
}

.progress-bar {
  display: inline;
  margin-left: 40rem;
  padding: 2rem;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  min-width: 80rem;
  min-height: 10vh;
  background-color: white;
  border-radius: 2rem;
}

.progress-bar-ul li {
  list-style-type: none;
  width: 12%;
  float: left;
  font-size: 1.5rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.progress-bar-ul li:before {
  width: 4rem;
  height: 4rem;
  content: counter(step);
  counter-increment: step;
  line-height: 3rem;
  border: 0.3rem solid rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
  transition: 0.3s ease-in-out;
}

#progress-num {
  display: flex;
  justify-content: space-between;
}

#bar {
  position: absolute;
  width: 100%;
  height: 0.4rem;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0;
  top: 30%;
}

#color-bar {
  width: 0%;
  height: 100%;
  background-color: #5d2a99;
  transition: 0.3s ease-in-out;
}

.progress-bar-ul li:first-child:after {
  content: none;
}

.step.active {
  transition: 0.2s ease-in-out;
  background-color: transparent;
}

.progress-bar-ul li.active:before {
  border-color: #5d2a99;
}

.progress-bar-ul li.scaled:before {
  transform: scale(1.3);
}

/*_________________________________TABLE STYLING__________________________*/

#accessories-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.7rem;
  box-shadow: 0 0 1.5rem rgba(70, 49, 49, 0.3);
}

.accessories {
  display: inline-grid;
  height: auto;
  max-width: 80rem;
  width: 80rem;
  max-height: 60vh;
  line-height: 30px;
  overflow: auto;
}

#table-header {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  text-align: center;
}

#myInput {
  flex: 2 1;
  background-size: 2rem 2rem;
  background-position: 1rem 1rem;
  background-image: url("../Icons/search.png");
  background-repeat: no-repeat;
  min-width: 60%;
  height: 4rem;
  font-size: 1.5rem;
  padding: 1.2rem 2rem 1.2rem 4rem;
  border: 1px solid #ddd;
  border-radius: 2rem;
  margin: 1.2rem 1rem;
}

#table-content {
  border-collapse: collapse;
  width: 98%;
  margin: 1rem;
  border: 1px solid #ddd;
  font-size: 1.6rem;
  padding: 0 2em 1em 0;
}

#table-content th,
#myTable td {
  text-align: left;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

#table-content tr {
  border-bottom: 1px solid #ddd;
}

#table-content tr.header,
#table-content tr:hover {
  background-color: #f1f1f1;
}

/* Dropdown Button */
.dropbtn {
  background-color: #5d2a99;
  color: white;
  height: 4rem;
  align-content: center;
  padding-right: 2rem;
  padding-left: 1.5rem;
  border: 1px solid #ddd;
  margin: 1.2rem 1rem;
  cursor: pointer;
  font-size: 1.4rem;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #460097;
  transition: 0.3s ease-in-out;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  font-size: 1.2rem;
  padding: 1.2rem 1.6rem;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible:after {
  content: "\002B";
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.info-button {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  background-color: #dddddd;
  margin: 1rem;
  font-size: 65%;
}

.add-button {
  width: 7rem;
  padding: 0.5rem 0;
  font-size: 1rem;
  font-weight: bold;
  background-color: transparent;
  border: 0.1rem solid black;
  margin: 0.5rem 2rem;
}

.add-button:hover {
  background-color: black;
  color: white;
  transition: 0.2s ease-in-out;
}

.click-zoom input[type="checkbox"] {
  display: none;
}

.click-zoom img {
  width: 7.5rem;
  height: 7.5rem;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
  transition: transform 0.25s ease;
  cursor: zoom-in;
}

.click-zoom input[type="checkbox"]:checked ~ img {
  margin-left: 8.5rem;
  border: 0.1rem solid black;
  border-radius: 5px;
  transform: scale(3.5);
  cursor: zoom-out;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  font-size: 1.5rem;
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 30rem; /* Set a default minimum width */
  margin-left: -15rem; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 5px; /* Rounded borders */
  padding: 1rem; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 2rem; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */

  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

#optional-container {
  display: none;
}

.optional-product button {
}

.optional-product img {
  width: 25px;
}

#pc2d-img {
  position: relative;
}

#block {
  display: flex;
  position: relative;
  width: 40rem;
  height: auto;
  overflow: auto;
  top: 0;
  left: 0;
}

#processor {
  display: none;
  position: absolute;
  top: 4rem;
  left: 2.5rem;
  width: 10.5rem;
  height: auto;
}

#motherboard {
  display: none;
  position: absolute;
  top: 3.5rem;
  left: 13.5rem;
  width: 11.5rem;
  height: auto;
}

#ssd {
  display: none;
  position: absolute;
  top: 4.5rem;
  left: 26.5rem;
  width: 10rem;
  height: auto;
}

#video-card {
  display: none;
  position: absolute;
  top: 18rem;
  left: 2.5rem;
  width: 21.5rem;
  height: auto;
}

#power {
  display: none;
  position: absolute;
  top: 33rem;
  left: 2.5rem;
  width: 13.5rem;
  height: auto;
}

#memory {
  display: none;
  position: absolute;
  top: 30rem;
  left: 17rem;
  width: 7rem;
  height: auto;
}

#hdd {
  display: none;
  position: absolute;
  top: 29rem;
  left: 27rem;
  width: 9.5rem;
  height: auto;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.02);
  }

  100% {
    transform: scale(1);
  }
}
