#hero {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.8)),
    url(../IMG/intro_background.png);
  background-position: center;
  background-size: cover;
}

.success-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  min-width: 50vw;
  min-height: 80vh;
  background-color: white;
  border: 2rem;
  border-radius: 3rem;
  border-color: #a003a7;
}

#reg-message-info {
  font-size: 3.5rem;
  font-weight: normal;
}

#success-ico {
  max-width: 30rem;
}

.reg-btn-container {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}

#reg-home-btn,
#reg-login-btn {
  width: 18rem;
  padding: 1rem 0;
  border: 0.2rem solid black;
  border-radius: 3rem;
}

#reg-login-btn {
  border: 0.2rem solid rgb(50, 186, 124);
  color: white;
  background-color: rgb(50, 186, 124);
}

#reg-home-btn:hover {
  background-color: rgb(32, 32, 32);
  color: white;
  transition: 0.2s ease-in-out;
}

#reg-login-btn:hover {
  background-color: rgb(10, 160, 110);
  border: 0.2rem solid rgb(10, 160, 110);
  color: white;
  transition: 0.2s ease-in-out;
}
:root {

    --input-color: #a003a7;
    --input-border: #a003a7;
    --input-background: #fff;
    --input-placeholder: #CBD1DC;

    --input-border-focus: #275EFE;

    --group-color: var(--input-color);
    --group-border: var(--input-border);
    --group-background: #EEF4FF;

  --group-color-focus: #fff;
  --group-border-focus: var(--input-border-focus);
  --group-background-focus: #678EFE;

}

.container2 {
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 8px 16px;
  line-height: 25px;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  border-radius: 16px;
  -webkit-appearance: none;
  color: var(--input-color);
  border: 3px solid var(--input-border);
  background: var(--input-background);
  transition: border .3s ease;
}

.container2::placeholder {
  color: var(--input-placeholder);
}

.container2:focus {
  outline: none;
  border-color: var(--input-border-focus);
}

.order-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: auto;
  border: 2px solid #7d7d7d;

}
