* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
}

#home {
  font-size: 2.7rem;
  font-family: "Pattaya", sans-serif;
  font-weight: normal;
  cursor: pointer;
  text-decoration: none;
}

li {
  font-size: 1.5rem;
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  background-color: white;
  border: none;
  border-radius: 3rem;
  margin: 1rem;
}

.inverse-button {
  color: white;
  background: rgba(0, 0, 0, 0.3);
  border: 0.25rem solid white;
  padding: 1.25rem;
  width: 20rem;
}

.inverse-button:hover {
  background-color: white;
  color: black;
  transition: 0.3s ease-in-out;
}

/*======================NAV section styling=====================================*/
#main-header {
  top: 0%;
  position: sticky;
  z-index: 100;
}

.nav-container {
  background-color: rgb(0, 0, 0);
}

nav {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  min-height: 10vh;
  position: sticky;
}

#logo-container {
  display: flex;
  align-items: center;
  flex: 3 1 40rem;
}

#home {
  color: white;
}

nav ul {
  display: flex;
  flex: 1 1 40rem;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}

nav a {
  color: rgb(199, 199, 199);
  font-size: 1.8rem;
  font-weight: 500;
}

nav a:hover {
  color: white;
}

/*======================INTRO section styling=========================================*/
#intro {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
      transparent,
      rgba(0, 0, 0, 0.8),
      transparent
    ),
    url(../IMG/intro_background.png);
  background-position: center;
  background-size: cover;
}

#intro h2 {
  font-size: 4.5rem;
  color: white;
  margin: 1.5rem;
}

#intro h3 {
  font-size: 1.8rem;
  opacity: 0.85;
  color: white;
  text-align: center;
  margin: 1rem;
}

/*======================POPULAR-MODELS section styling=========================================*/
#popular-models {
  min-height: 100vh;
  width: 90%;
  margin: auto;
  text-align: center;
}

#models-header {
  min-height: 25vh;
  color: rgb(70, 58, 58);
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#models-header h2 {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 2.7rem;
  margin-bottom: 1rem;
}

#models-header h3 {
  font-size: 1.8rem;
}

.card-container {
  display: flex;
  margin-bottom: 5rem;
  min-height: 75vh;
  min-width: 100%;
  justify-content: space-between;
  align-items: center;
}

.card {
  min-height: 50vh;
  width: 33rem;
  box-shadow: 0 18px 20px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
}

.card:hover {
  transition: 0.2s ease-in-out;
  box-shadow: 0 18px 20px rgba(70, 49, 49, 0.55);
}

.computer {
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.computer img {
  width: 15rem;
}

.circle {
  width: 18rem;
  height: 18rem;
  background: linear-gradient(
    to right,
    rgba(216, 73, 245, 0.5),
    rgba(8, 83, 156, 0.5)
  );
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}

.info {
  color: rgb(58, 58, 58);
}

.info h1 {
  color: black;
  font-weight: 600;
  font-size: 2rem;
}

.purchase {
  font-size: 1.7rem;
  font-weight: bold;
  background-color: none;
  padding: 0.5rem 4.5rem;
  border: 0.2rem solid black;
  margin: 1.5rem 0rem;
}

.purchase:hover {
  background-color: black;
  color: white;
  transition: 0.2s ease-in-out;
}

/*======================PHILOSOPHY section styling=========================================*/
#philosophy {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

#philosofy-header {
  min-height: 10vh;
  background-color: rgb(36, 35, 35);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

#slider {
  min-height: 90vh;
  width: 100%;
  display: flex;
  position: relative;
}

.slide {
  min-width: 100%;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-content {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  border: none;
}

.slide-content img {
  max-width: 70rem;
}

.slide-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide-header {
  font-size: 2rem;
  margin: 2rem;
}

.slide-article {
  font-size: 1.8rem;
}

#prev,
#next {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 3rem;
  padding: 1.5rem;
  cursor: pointer;
  color: rgb(0, 1, 73);
  transition: 0.1s ease-in-out;
  user-select: none;
}
#next {
  right: 0;
}

.dots-container {
  align-items: center;
  margin: 1rem auto;
  margin-bottom: 2rem;
}

.dot {
  display: inline-block;
  width: 4rem;
  height: 1rem;
  border: 0.05rem solid rgb(0, 0, 0);
  border-radius: 5rem;
  margin: 0 0.1rem;
  cursor: pointer;
}

.dot:hover,
.active {
  transition: 0.2s ease-in-out;
  background-color: (0 0 0 0.8);
}

/*======================FOOTER section styling==========================================*/
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 45vh;
  background-color: black;
  color: white;
}

.logo {
  font-size: 1.6rem;
  font-family: "Pattaya", sans-serif;
  font-weight: normal;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.footer-icon {
  width: 4.5rem;
  margin: 2rem;
}

footer h1 {
  font-size: 1.4rem;
}

footer h2 {
  margin: 2rem;
  color: rgb(199, 199, 199);
  font-size: 2rem;
}

.contact-container,
.socila-media {
  width: 80%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socila-media {
  width: 30%;
  justify-content: space-evenly;
}

.info-label {
  margin: 0.5rem 0;
  font-size: 1.5rem;
  color: rgb(199, 199, 199);
}

.info-text {
  font-size: 2rem;
  font-weight: 100;
}

/* ======================= Mobile Responsive Styling=========================================*/

@media screen and (max-width: 1800px) {
  .card {
    margin: auto;
    min-height: 40vh;
    width: 27rem;
  }
}

@media screen and (max-width: 1276px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 1100px) {
  .card-container {
    flex-wrap: wrap;
    justify-content: space-around;
    padding: auto;
  }
}

@media screen and (max-width: 1045px) {
  .slide-content {
    flex-direction: column;
    padding: 2rem;
  }

  .slide-content img {
    max-width: 60rem;
  }
}

@media screen and (max-width: 1011px) {
  .card-container {
    padding: 4rem;
  }

  .card {
    width: 38rem;
    margin: 2rem 0;
  }

  .contact-container {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 947px) {
  .info-label,
  .info-text {
    margin: 0.5rem 2rem;
  }
}

@media screen and (max-width: 710px) {
  #home {
    font-size: 2.1rem;
  }
  nav ul {
    margin-bottom: 1.2rem;
  }
  #logo-container {
    justify-content: center;
  }
}

@media screen and (max-width: 565px) {
  #intro h2 {
    text-align: center;
  }
  .slide-content img {
    max-width: 40rem;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 45%;
  }
}

@media screen and (max-width: 361px) {
  html {
    font-size: 40%;
  }

  .button-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

.container2 {
  padding: 16px;
  border: 3px solid #f1f1f1;
  font-size: 15pt;

}

}
